*{
    box-sizing:border-box;
    margin:0;
    
}

body{
    background-color: black;
    color:white;
}


h1{
    color:white;
    text-align: center;
    margin:15px;
    padding:15px;
}

h2{
    color:white;
    text-align: center;
    margin:15px;
    padding:15px;
}

hr{
    margin:10px;
}

/* Carré */
#square{
    margin:0 auto;
    width: 150px;
    height:150px;
    transition: background-color 4s,transform 1s;
    background-color: red;
    animation:square 6s linear infinite;
}

@keyframes square{
    0% { transform:rotateZ(0deg);
    background-color:red;}

    100% { transform : rotateZ(360deg);
        background-color:purple;}

}

/* La Balle */

#container{
    margin:0 auto;
    width: 300px;
    height: 300px;
    border:2px solid;
    
}

#ball{
    position:relative;
    width:49px;
    height:49px;
    background-color: blueviolet;
    border-radius: 100%;
    animation:bounce 4s forwards infinite;
}

@keyframes bounce{
    0%{top:0px;
    left:0px;
    }

    25%{
        top:250px;
        left:100px;
    }

    50%{
        top:100px;
        left:250px;
    }

    75%{
        top:0px;
        left:0px;
    }

    100%{
        top:250px;
        left:100px;
    }
      
} 

/* Loader */

    #contenant{
        margin:0 auto;
        width:175px;
        height:80px;
        border: 2px solid;
    }

    #first{
        margin:1px;
        position:relative;
        display:inline-block;
        padding:1px;
        border:2px solid;
        width: 50px;
        height:50px;
        border-radius: 100%;
        animation:loader 4s linear infinite;
    }

    #second{
        margin:1px;
        position:relative;
        display: inline-block;
        padding:1px;
        border:2px solid;
        width:50px;
        height:50px;
        border-radius:100%;
        animation:loader 4s linear infinite;
        animation-delay:  -1s;
    }

    #third{
        margin:1px;
        position:relative;
        padding:1px;
        display:inline-block;
        border:2px solid;
        width: 50px;
        height:50px;
        border-radius:100%;
        animation:loader 4s linear infinite;
        animation-delay: -1s;
    }

@keyframes loader{
    0%{
    background-color:lightblue;
    }

    50%{
        background-color: blue;
    }

    100%{
        background-color:black;
    }
}
    
/* La Course */

    #box{
        margin:0 auto;
        position:relative;
        width: 290px;
        height:290px;
        border:1px solid;
    }

    #carre1{
        position:absolute;
        width: 30px;
        height:30px;
        border: 2px solid;
        background-color:lime;
        animation:course 4s linear infinite;

    }

    #carre2{
        position:absolute;
        width: 30px;
        height:30px;
        border:2px solid;
        background-color: yellow;
        animation:course 4s linear infinite;
        animation-delay: 1s;
    }
    #carre3{
        position: absolute;
        width: 30px;
        height:30px;
        border:2px solid;
        background-color: rgb(255, 46, 168);
        animation:course 4s linear infinite;
        animation-delay:2s;
    }
    #carre4{
        position:absolute;
        width: 30px;
        height:30px;
        border:2px solid;
        background-color:red;
        animation:course 4s linear infinite;
        animation-delay: 3s;
    }

    @keyframes course{
        0%{
            left:0px;
            top:0px;   
        }

        25%{
            transform:rotate(90deg);
            left:260px;
            top:0px;
            background-color:royalblue;
        }

        50%{
            left:260px;
            top:260px;
            transform:rotate(180deg);
            background-color: blue;
        }

        75%{
            top:260px;
            left:0px;
            transform:rotate(270deg);
            background-color: red;
        }

        100%{
            left:0px;
            top:0px;
            transform:rotate(360deg);
            background-color: green;
        }

    }

   /* Le Menu  */
    
    #menu{
        margin:0 auto;
        width:100px;
        height:50px;
        border:2px solid;
        background:crimson;
        border-radius:15%;
        padding:5px;
        animation:extension 4s linear infinte;
    }

    p{
        justify-content: center;
    }

    #menu:hover{
        transition:1s linear;
        height:100px;   
    }


    /* Le caroussel */
    

    .carousel{
       margin:0 auto;
       width: 500px;
       height: 500px;
       border:1px solid;
       position : relative;
       perspective :1000px;
       
    }
    .boxcarousel{
        width:100%;
        height:100%;
        margin:5px;
        padding:5px;
        position:absolute;
        animation:carousel 4s liner infinite;
        transform-style: preserve-3d; 
    }

    .boxcarousel div{
        display:inline-block;
        
    }
    

    .box1{
        width:50px;
        height:50px;
        border:1px solid white;
        background:chartreuse
    }

    .box2{
       
        width:50px;
        height:50px;
        border:1px solid white;
        background-color: chocolate ;
    }

    .box3{
        width:50px;
        height:50px;
        border:1px solid white;
        background-color: darkgreen;
    }

    .box4{
        width:50px;
        height:50px;
        border:1px solid white;
        background-color: darkmagenta;
    }

    .box5{
        width:50px;
        height:50px;
        border:1px solid white;
        background-color: greenyellow;
    }

    box:nth-child(1){
        transform:rotateY(0deg);
        transform:rotateZ(50px);
    }

    box:nth-child(2){
        transform:rotateY(90deg);
        transform: rotateZ(50px);
        
    }
    
    box:nth-child(3){
        transform:rotateY(180deg);
        transform: rotateZ(50px);
    }

    box:nth-child(4){
        transform:rotateY(270deg);
        transform: rotateZ(50px);
        
    }

    box:nth-child(5){
        transform: rotateY(360deg);
        transform: rotateZ(50px);
        
    }
@keyframes carousel{
    0%{
    
    }

    25%{
        transform: rotateY(360deg);
        transform: rotateZ(120deg);
    }

    50%{
        transform:rotateY(720deg);
        transform:rotateZ(240deg);
    }

    100%{
        transform:rotateY(1080deg);
        transform:rotateZ(360deg);
    }

}